@model Fiap07.Web.MVC.Models.Time
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar Time</h2>
@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

@using (Html.BeginForm())
{
    <div class="container">

        <div class="container">
            <div class="form-group">
                @Html.LabelFor(a => a.Nome)
                @Html.TextBoxFor(a => a.Nome, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(a => a.Mundial)
                @Html.LabelFor(a => a.Mundial)
            </div>
        </div>
        <fieldset>
            <div class="container">
                <legend>Tecnico</legend>
                <div class="form-group">
                    @Html.LabelFor(t => t.Tecnico.Nome)
                    @Html.TextBoxFor(t => t.Tecnico.Nome, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(t => t.Tecnico.Salario)
                    @Html.TextBoxFor(t => t.Tecnico.Salario, new { @class = "form-control" })
                </div>
            </div>
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Cadastrar" />
    </div>
}