@model Fiap08.Web.MVC.Models.Dependente
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@if (TempData["msg"] != null)
{
    <div class="alert-success">@TempData["msg"]</div>
}

@using (Html.BeginForm())
{


    <div class="container">

        <h1>Cadastrar Dependente</h1>
        <div class="form-group">
            @Html.LabelFor(r => r.Nome)
            @Html.TextBoxFor(r => r.Nome, new { @class = "form-control", @placeholder = "Digite o nome do Dependente" })
        </div>
        <div class="form-group">
            @Html.LabelFor(r => r.Nome)
            @Html.TextBoxFor(r => r.Responsavel, new { @class = "form-control", @placeholder = "Digite o nome do Dependente" })
        </div>
        <input type="submit" value="Cadastrar" class="btn btn-primary"/>
    </div>

}